<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous">
    
</head>

<body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
       <h2>Pessoas</h2>
        <p class="lead">Cadastro de pessoas</p>
	  </div>
		<div th:switch="${pessoas}">
		    <h2 th:case="null">Não há pessoas cadastradas!</h2>
		        <div th:case="*" class="container-fluid" >
	            	<table class = "table table-striped">
	            		<p><a href="/signup">Adicionar</a></p>
	     				<thead class="thead-dark">
	                    <tr>
	                        <th>Name</th>
	                        <th>Email</th>
	                        <th>Gênero</th>
	                        <th>Edit</th>
	                        <th>Delete</th>
	                    </tr>
	                </thead>
	                <tbody>
	                <tr th:each="pessoa : ${pessoas}">
	                    <td th:text="${pessoa.nome}"></td>
	                    <td th:text="${pessoa.email}"></td>
	                    <td th:text="${pessoa.genero}"></td>
	                    <td><a th:href="@{/edit/{id}(id=${pessoa.cod})}" class="btn btn-primary" >Edit</a></td>
	                    <td><a th:href="@{/delete/{id}(id=${pessoa.cod})}" class="btn btn-danger" >Delete</a></td>
	                    
	                </tr>
	            </tbody>
		        </table>
		    </div>      
		    
		</div>
</div>